<p>employee-form works!</p>
<div class="form-wrapper padding-30">
    <!-- <div class="contain-header">
        <button class="btn btn-secondary" type="button">
            <span class="m-left-10 text-capitalize">back</span>
        </button>
    </div> -->
    <form class="form-contain" [formGroup]="employeeRecode" (submit)="addEmployee()">
        <div class="border-bottom mb-20">
            <h1 class="title text-capitalize p-bottom-20">
                Add Employee
            </h1>
        </div>
        <div class="controls-wrapper">
            <div class="mb-20 controls-contain">
                <div class="margin-right-20 controls">
                    <label for="name" class="form-lable text-capitalize">name</label>
                    <input class="form-controls" formControlName="name" type="text" id="name" />
                </div>
            </div>
            <!-- <div class="mb-20 controls-contain">
                <div class="margin-right-20 controls">
                    <label for="gender" class="form-lable text-capitalize">gender</label>

                    <input type="radio" id="male" formControlName="male" value="male" name="gender" />
                    <label for="male" class="form-lable text-capitalize" formControlName="male">male</label>

                    <input type="radio" id="female" formControlName="female" value="female" name="gender" />
                    <label for="female" class="form-lable text-capitalize" formControlName="female">female</label>
                </div>
            </div> -->
            <div class="mb-20 controls-contain">
                <div class="margin-right-20 controls">
                    <label for="dob" class="form-lable text-capitalize">DOB</label>
                    <input id="dob" class="form-controls" type="date" formControlName="dob" />
                </div>
            </div>
            <div class="mb-20 controls-contain">
                <div class="margin-right-20 controls">
                    <label for="salary" class="form-lable text-capitalize">salary</label>
                    <input class="form-controls" formControlName="salary" type="number" id="salary" />
                </div>
            </div>


        </div>
        <div>
            <button class="btn btn-primary margin-right-20" type="submit">Submit</button>
            <!-- (click)="addEmployee()" -->
            <button type="button" class="btn btn-secondary ">Cancel</button>
        </div>
    </form>
</div>