<p>product-list works!</p>
<div class="contint-list padding-30">
    <div class="table-wrapper">
        <table class="table">
            <thead>
                <tr>
                    <th class="table-head text-uppercase">id</th>
                    <th class="table-head text-uppercase">name</th>
                    <th class="table-head text-uppercase">stock</th>
                    <th class="table-head text-uppercase">price</th>
                    <th class="table-head text-uppercase">brands</th>
                    <th class="table-head text-uppercase">color</th>
                    <th class="table-head text-uppercase">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let i of product">
                    <td class="table-data">{{i.id}}</td>
                    <td class="table-data">{{i.name}}</td>
                    <td class="table-data">{{i.stock}}</td>
                    <td class="table-data">{{i.price}}</td>
                    <td class="table-data">{{i.brands}}</td>
                    <td class="table-data">{{i.color}}</td>
                    <td class="table-data">
                        <button type="button" class="btn btn-delete" (click)="productDelete(i.id)">Delete</button>
                        <button type="button" class="btn btn-edit m-left-10" routerLink="/update/{{i.id}}"><label
                                for="toggle">Edit</label></button>
                        <!-- <label for="toggle">Edit</label> -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="overlay">

    </div>
</div>