/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #3512d1;
    --secondary: #50474f;
    --gray: #aaa4a4;
    --white: #FFFFFF;
    --black: #000000;
}

body,
html {
    height: 100%;
    font-family: sans-serif;
}

.contint-list {}

/* header style */
.contain-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--gray);
    margin-bottom: 10px;
}

.title {
    font-size: 30px;
    color: var(--black);
    font-weight: 600;
}

/* button css */
.btn {
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
    color: var(--white);
    font-weight: 500;
    letter-spacing: 1px;
}

.btn-primary {
    background-color: var(--primary);
    border: 1px solid var(--primary);
}

.btn-secondary {
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
}

/*helper class*/
.m-left-10 {
    margin-left: 10px;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-uppercase {
    text-transform: uppercase;
}

.padding-30 {
    padding: 30px;
}

.mb-20 {
    margin-bottom: 20px;
}

.p-bottom-20 {
    padding-bottom: 20px;
}

.border-bottom {
    border-bottom: 1px solid var(--gray);
}

/*table css*/
.table {
    width: 100%;
    border-collapse: collapse;
}

.margin-right-20 {
    margin-right: 20px;
}

.table-head,
.table-data {
    text-align: left;
    padding: 20px;
    border-bottom: 1px solid var(--gray);
}

/*form css*/
.form-contain {
    padding: 20px;
    border: 1px solid var(--gray);
    border-radius: 5px;
}

.controls-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.col-width {
    width: 50%;
}

.form-controls {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--gray);
}

.controls-contain {
    width: 50%;
}

.controls {
    display: flex;
    flex-direction: column;
}