<h1>hello</h1>
<table border="1" [class]="theading">
  <thead>
    <th [style]="abc">person</th>
    <th>age</th>
  </thead>
  <tbody>
    <tr>
      <td [attr.colspan]="2">ramesh</td>
    </tr>
    <tr>
      <td>ram</td>
      <td>20</td>
    </tr>
    <tr>
      <td>shiv</td>
      <td>30</td>
    </tr>
  </tbody>
</table>


<input type="text" [(ngModel)]="userName">
<input type="text" [(ngModel)]="userData">
<input type="text" [(ngModel)]="userAge">
<input type="text" [(ngModel)]="userEmail">

<button (click)="studentName()">Click me!</button>
<button (click)="userDetail()">Submit</button>
<h1>{{userName}}</h1>
<h2>{{userData}}</h2>