<p>header works!</p>
<!-- start : header -->

<header class="dashboard-header d-flex">
    <div class="dash-head d-flex">
        <!-- <label for="toggle" class="fa fa-bars color-gray"></label> -->
        <h3 class="dashboard-heading">Tickets</h3>
    </div>
    <div class="user-detail d-flex">
        <div class="search">
            <span class="fa fa-search icon-color"></span>
            <span class="fa fa-bell icon-color m-left-25"></span>
        </div>
        <div class="user d-flex">
            <span class="person m-left-25">Jones Ferdinand</span>
            <div class="contain-header">
                <button class="btn btn-primary" type="button">
                    <span>+</span>
                    <span class="m-left-10 text-capitalize" (click)="openDialog()">Add Employee</span>
                    <label for="toggle" class="fa fa-bars color-gray"></label>
                </button>
            </div>
        </div>
    </div>
</header>