<!-- <p>product-form works!</p> -->
<input type="checkbox" id="toggle" checked>
<div class="form-wrapper padding-30 sidebar">
    <div class="contain-header">
        <button class="btn btn-secondary" type="button">
            <label for="toggle">X</label>
        </button>
    </div>
    <div *ngIf="alert" class="alert" role="alert">
        <strong>Success ! </strong> Your data {{mag}} successfully !.
        <button type="button" (click)="closeAlert()" class="close" data-bs-dismiss="alert" aria-label="close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <form class="form-contain" [formGroup]="productForm" (ngSubmit)="changeFunction ? addProduct() : EditProduct()">
        <div class="border-bottom mb-20">
            <h1 class="title text-capitalize p-bottom-20">
                Add Product
            </h1>
        </div>
        <div class="controls-wrapper">
            <div class="mb-20 controls-contain">
                <div class="margin-right-20 controls">
                    <label for="name" class="form-lable text-capitalize">name</label>
                    <input class="form-controls" formControlName="name" type="text" id="name" />
                </div>
            </div>
            <div class="mb-20 controls-contain">
                <div class="margin-right-20 controls">
                    <label for="stock" class="form-lable text-capitalize">stock</label>
                    <input class="form-controls" formControlName="stock" type="text" id="stock" />
                </div>
            </div>
            <div class="mb-20 controls-contain">
                <div class="margin-right-20 controls">
                    <label for="price" class="form-lable text-capitalize">price</label>
                    <input class="form-controls" formControlName="price" type="text" id="price" />
                </div>
            </div>
            <div class="mb-20 controls-contain">
                <div class="margin-right-20 controls">
                    <label for="brands" class="form-lable text-capitalize">brands</label>
                    <input class="form-controls" formControlName="brands" type="text" id="brands" />
                </div>
            </div>
            <div class="mb-20 controls-contain">
                <div class="margin-right-20 controls">
                    <label for="color" class="form-lable text-capitalize">color</label>
                    <input class="form-controls" formControlName="color" type="text" id="color" />
                </div>
            </div>


        </div>
        <div>
            <button class="btn btn-primary margin-right-20" type="submit"
                [disabled]="!productForm.valid">{{btnText}}</button>
            <!-- <button class="btn btn-primary margin-right-20" type="button" (click)="EditProduct()">Update</button> -->
            <!-- <button type="button" class="btn btn-secondary ">Cancel</button> -->
        </div>
    </form>
    <div class="overlay">

    </div>
</div>