<div class="main-content d-flex">
  <div class="card">
    <span class="card-heading">Map : {{item | json}}</span>
    <div class="card-content">
      <ul id="map">

      </ul>
    </div>
  </div>
  <div class="card">
    <span class="card-heading">Map + MergeAll : {{item | json}}</span>
    <div class="card-content">
      <ul id="mergeAll">

      </ul>
    </div>
  </div>
  <div class="card">
    <span class="card-heading">MergeMap : {{item | json}}</span>
    <div class="card-content">
      <ul id="mergeMap">

      </ul>
    </div>
  </div>