/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;

}

:root {
    --primary: #3512d1;
    --secondary: #50474f;
    --gray: #aaa4a4;
    --white: #FFFFFF;
    --black: #000000;

}

/*helper classes*/
.d-flex {
    display: flex;
}

.main-content {
    position: relative;
    top: 0;
}

/*header classes*/
.dashboard-heading {
    font-size: var(--fn-lg-26);
    font-weight: var(--fw-700);
    color: #252732;
}

.dash-head {
    justify-content: center;
    align-items: center;
}

/* #toggle {
    display: none;
} */

.person {
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    font-size: var(--fs-md14);
    color: #4a4b54;
    font-weight: var(--fw-600);
    margin: 20px
}

.search {
    padding-right: 20px;
    border-right: 1px solid #c5c7cd;
}

.dashboard-header {
    justify-content: space-between;
    padding-bottom: 30px;
    background-color: rgb(90, 209, 245);
}

.user-detail {
    justify-content: center;
    align-items: center;
}

.user {
    justify-content: center;
    align-items: center;
}

.fa-bell {
    position: relative;
}

.fa-bell::after {
    content: "";
    height: 5px;
    width: 5px;
    position: absolute;
    background-color: #3559fa;
    border-radius: 50%;
    top: 0px;
    right: 0px;
    border: 1px solid var(--white);
}

/* header style */
.contain-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--gray);
    margin-bottom: 10px;
}

.sidebar {
    background-color: var(--aside-color);
    height: 100%;
    width: 380px;
    transition: .5s ease-in-out;
    flex: 0 0 380px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    background-color: white;
}

#toggle:checked+.sidebar {
    transform: translateX(380px);
    width: 0;
    flex: 0 0 0;
    opacity: 1;

}

#toggle:checked+.overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.5;
}

/* button css */
.btn {
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
    color: var(--white);
    font-weight: 500;
    letter-spacing: 1px;
}

.btn-primary {
    background-color: var(--primary);
    border: 1px solid var(--primary);
}

.btn-delete {
    background-color: #F44336;
}

.btn-edit {
    background-color: #2e9132;
}

/*helper class*/
.m-left-10 {
    margin-left: 10px;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-uppercase {
    text-transform: uppercase;
}

.padding-30 {
    padding: 30px;
}

.mb-20 {
    margin-bottom: 20px;
}

.p-bottom-20 {
    padding-bottom: 20px;
}

.border-bottom {
    border-bottom: 1px solid var(--gray);
}

/*table css*/
.table {
    width: 100%;
    border-collapse: collapse;
}

.margin-right-20 {
    margin-right: 20px;
}

.table-head,
.table-data {
    text-align: left;
    padding: 20px;
    border-bottom: 1px solid var(--gray);
}

/*form css*/
.form-contain {
    padding: 20px;
    border: 1px solid var(--gray);
    border-radius: 5px;
}

.controls-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.col-width {
    width: 50%;
}

.form-controls {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--gray);
}

.controls-contain {
    width: 50%;
}

.controls {
    display: flex;
    flex-direction: column;
}

/*aleart */
.alert {
    padding: 20px;
    background-color: #a0f5d6;
    color: rgb(110, 108, 108);
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
}

.close {
    padding: 5px;
    cursor: pointer;
    background-color: #9c9b9c;
    font-weight: bold;
    border: 0;
    color: white;
}